@font-face {
  font-family: "Ethnocentric";
  src: url("/assets/ethnocentric.ttf") format("truetype");
}

@font-face {
  font-family:"Roboto";
  src: url("/assets/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"Roboto Bold";
  src: url("/assets/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family:"Zen Dots";
  src: url("/assets/ZenDots-Regular.ttf") format("truetype");
}

html {
  background-color: #33A1DE;
}
#list-group-item{
    font-size: 2em; 

}
#label-container {
  font-size: 60px;
  text-align: center;
  font-family: "Roboto";
  background-color: black;
  color: white;
  margin: 0;
  width: 100%;
}

#webcam-container {
  text-align: center;
  padding-bottom: 2em;
}

#title {
  text-align: center;
  text-transform: uppercase;
  padding: .25em 0;
  background: lightgray;
  font-family: "Roboto Bold";
  font-weight: bold;
  font-size: 3em;
}

.title {
  font-family: "Zen Dots";
}

#btn {
  text-align: center;
  margin: 15px;
  padding: 10px;
}

button {
  font-size:4em!important;
  border-radius: 15px!important;
}

.btn:hover {
    transform: scale(.9);
}

h1 {
  text-align: center;
  font-family: "Ethnocentric";
  font-size: 2.5em!important;
  margin: 0;
  padding: 1em;
}

h2 {
  font-family: "Roboto Bold";
  text-align: center;
  padding-top: 2em!important;
  font-size: 2.5em!important;
}

.list-group {
  border: .25em solid;
  visibility: hidden;
}

.list-group li {
  font-family: "Roboto";
  font-size: 3.5em;
  text-align: center;
  background: lightgray;
  padding-top: .5em;
}

#list-box {
  padding-top: 1em;
  padding-bottom: 4em;
}

#timer {
  font-weight: bold;
  font-size: 1.5em;
}

.list-icons {
  width: 1.7em;
  margin-left: .8em;
  height: 100px;
  width: 100px;

}

.list-icons img {
  display: inline;
}

.how-to img{
  width: 100%;

}

.blue-back {
  background: #33A1DE;
}

.footer {
  background: lightgray;
  margin-top: 4em;
  text-align: center;
}

.footer a {
  color: black;
  font-family: "Roboto";
  font-size: 1.5em;
}

.footer a:hover {
  color: #33A1DE;
  text-decoration: none;
}

  @media only screen and (max-width: 767px) {
    canvas {
      width: 100%;
    }
  }
