@font-face {
  font-family: "Ethnocentric";
  src: url("ethnocentric.ttf") format("truetype");
}

@font-face {
  font-family:"Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"Roboto Bold";
  src: url("Roboto-Bold.ttf") format("truetype");
}


html {
  background-color: #33A1DE;
}

body {
  background-color: black;
  color: white;
}

#label-container {
  font-size: 60px;
  text-align: center;
  font-family: "Roboto";
  background-color: black;
  color: white;
}

#webcam-container {
  text-align: center;
  padding-bottom: 2em;
}

#title {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  padding: .25em 0;
  background: lightgray;
  font-family: "Roboto Bold";
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 1em;
}

#btn {
  text-align: center;
  margin: 15px;
  padding: 10px;
}

.btn:hover {
    transform: scale(.9);
}

h1 {
  text-align: center;
  font-family: "Ethnocentric";
  font-size: 1em;
}

.list-group {
  border: .25em solid;
  visibility: hidden;
}

.list-group li {
  font-family: "Roboto";
  font-size: 1.5em;
  text-align: center;
  background: lightgray;
  padding-top: .5em;
}

#list-box {
  padding-top: 1em;
  padding-bottom: 4em;
}

#timer {
  font-weight: bold;
  font-size: 1.5em;
}

.list-icons {
  width: 1.2em;
  margin-right: .8em;
}

.list-icons img {
  display: inline;
}

#ready-blurb {
  text-align: center;
  font-size: 1.5em;
}

